/* Estilos generales para la página de ejemplos */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em;
}

footer {
    text-align: center;
}

section {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 3em;
}

h2 {
    border-bottom: 1px solid black;
}

pre {
    margin: 0;
    font-size: 1.25em;
    /* white-space: normal; */
    white-space-collapse: preserve-breaks;
}

/* Bordes de tabla y celda */
table.tabla-bordes {
    border: 1px solid red;
}

table.tabla-bordes th,
table.tabla-bordes td {
    border: 1px solid blue;
}

table.colapsado {
    border-collapse: collapse;
}

table.tabla-bordes-no-vacias {
    border: 1px solid blue;
    empty-cells: hide;
}

table.tabla-bordes-no-vacias th,
table.tabla-bordes-no-vacias td {
    border: 1px solid blue;
}

table.table-titulo-abajo {
    caption-side: bottom;
}

table.table-layout-auto th,
table.table-layout-auto td {
    border: 1px solid blue;
}

table.table-layout-fixed {
    table-layout: fixed;
    width: 100%;
}

table.table-layout-fixed th,
table.table-layout-fixed td {
    border: 1px solid blue;
}